<div class="well">
  <!-- <h2 class="bold">Pràctica/ques a lliurar</h2>
  <h5>FA 3.4.3. Per parelles s'ha de fer una aplicació que gestioni una base de dades d'una aplicació escollida
    pel propi grup, l'aplicació haurà de tenir com a mínim 4 entitats i els següents requisits:</h5>
  <ul>
    <li>a) Formularis pel manteniment (<span class="bold">alta/baixa/modificació</span>) de, al menys, <span class="bold">dues de les entitats</span> que
   formen la base de dades.</li>
    <li>b) Gestió de cookies (creació i esborrament) acorde a la funcionalitat de l'aplicació.</li>
    <li>c) Ha de contenir també un «factory»,«serivice» o «provider» per a comunicar dades entre
   controladors.</li>
    <li>d) Formulari amb paginació.</li>
  </ul>
  <h5 class="bold underline">Important:</h5>
  <ul>
    <li>a) Haureu de lliurar també el model E-R i una petita descripció de la funcionalitat de l'aplicació.</li>
    <li>b) Aquesta aplicació serà utilitzada en una pràctica de la UF4 per a deixar-la acabada realitzant els accessos al
    servidor via AJAX, es codificarà també la part del servidor.</li>
  </ul>
  <h4 class="bold">- Criteris per avaluar la pràctica:</h4>
  <ul>
    <li>1. Funcionament (4,5 punts): aquí es valida que:
      <ul>
        <li>a) Formularis manteniment de les entitats correctament funcionant.</li>
        <li>b) Gestió de les cookies correcte.</li>
        <li>c) «factory»,«serivice» o «provider» correcte.</li>
        <li>d) Formulari amb paginació correcte.</li>
      </ul>
    </li>
    <li>2. Document amb model E-R i explicació de l'aplicació correcte (1 punt).</li>
    <li>3. Estructura del codi (3,5 punts): carpetes de l'aplicació correctes, número i noms de fitxers «.js»
   correctes, ús de funcions correcte, nom de variables correcte, ús correcte de bucles, condicionals...</li>
    <li>4. Documentació del codi (1 punts): capçaleres scripts, capçaleres funcions, documentació interna, tot en
   anglès.</li>
  </ul> -->
  <h2 class="bold">Description of the application</h2>
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading">ER</div>
    <div class="panel-body">
      <img class="er" src="resources/Pt3.4.png" alt="ER" />
    </div>
  </div>
  <p>
    Este practica constara de cuatro tablas, una de usuarios, otra de artículos, otra de categorías y otra de cartas, cada una con sus respectivos campos.
    El usuario podrá crear usuarios, artículos, categorías y cartas. También podrá visualizar cada una de las tablas y podrá modificar y/o eliminar usuarios, artículos, categorías o cartas.
  </p>

</div>
